@model Cart

<h2>You successfully paid <strong>$@ViewData["totalPrice"]!</strong></h2>

<div class="order2 container">
    <p class="order"><b> Order Number: @ViewData["OrderID"] </b></p>
    @{int? subTotal = 0;}
    @{int? totalQuantity = 0;}
    @{ int? totalPrice = 0;}
    <p><b>Order Details: </b></p>
    <table class=" table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Store Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                subTotal = @item.Product.Price * @item.StockLevel;
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Store.Name)</td>
                <td>$@Html.DisplayFor(modelItem => item.Product.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.StockLevel)</td>
                <td>$@subTotal</td>
            </tr>
                totalQuantity += item.StockLevel;
                totalPrice += item.Product.Price * item.StockLevel;
            }
        </tbody>
    </table>
    <p><b>Total Items: @totalQuantity</b></p>
    <p><b>Total Price: $@totalPrice</b></p>
</div>

<form asp-controller="Customer" asp-action="RemoveAll">
    <input type="hidden"/>
</form>

