@model Cart
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe


@{
    ViewData["Title"] = "Confirm your Order";
}

<h2>Confirm your order details</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Store Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        @* setup variables for calculation during the checkout *@
        @{int? subTotal = 0;}
        @{int? totalQuantity = 0;}
        @{int? totalPrice = 0;}
        @{var itemList = new List<StoreInventory>();}
        @foreach (var item in Model.Items)
        {
            subTotal = @item.Product.Price * @item.StockLevel;
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Store.Name)</td>
            <td>$@Html.DisplayFor(modelItem => item.Product.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.StockLevel)</td>
            <td>$@subTotal</td>
        </tr>
    itemList.Add(new StoreInventory() { ProductID = item.Product.ProductID, StoreID = item.Store.StoreID, StockLevel = item.StockLevel });
    { totalQuantity += item.StockLevel; }
    { totalPrice += item.Product.Price * item.StockLevel; }
    }
    </tbody>

</table>
<p><b>Total Items: @totalQuantity</b></p>
@{int? priceInCents = totalPrice * 100;}

@* pass though varibales as hidden to controller *@
<form action="/Customer/Charge" method="POST">
    <article>
        <label>Total Price: $@totalPrice</label>
    </article>
    <input type="hidden" name="totalPrice" value="@totalPrice" />
    @for (int i = 0; i < itemList.Count; i++)
    {
        <input type="hidden" name="itemList[@i].StoreID" value="@itemList[@i].StoreID" />
        <input type="hidden" name="itemList[@i].ProductID" value="@itemList[@i].ProductID" />
        <input type="hidden" name="itemList[@i].StockLevel" value="@itemList[@i].StockLevel" />
    }
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-description="Houdini's Bag of Tricks"
            data-amount="@priceInCents">
    </script>
</form>

